.custom-swiper-pagination {
  position: static !important;
  margin-top: 1rem;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #4b5563; /* Tailwind slate-600 */
  opacity: 0.4;
  transition: all 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1d4ed8; /* Tailwind blue-700 */
  opacity: 1;
}
